<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Solr-search">
    <description>CodeSniffer ruleset for Solr Search coding conventions.</description>

    <rule ref="PSR2" >
        <!-- Allow non camel cased method names - SilverStripe convention for static::method_names() -->
        <exclude name="PSR1.Methods.CamelCapsMethodName" />
    </rule>
</ruleset>
